<style>
    .login-header {
        background-color: #171616;
    }
    .logo {
        transition: linear transform 0.1s;
    }
    .logo a {
        text-decoration: none;
    }
    .logo:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .login-title {
        padding-top: 100px;
    }

    .login-input {
        color: #000000;
        width: 100%;
        padding: 5px;
        outline: 0;
        border-radius: 10px;
        border: 0;
        margin: 15px 0;
    }

    .login-input-div {
        width: 40%;
    }

    .fake-input {
        width: 100%;
        background-color: #FFFFFF;
        padding: 5px;
        border-radius: 10px;
    }

    .input-of-fake {
        color: #000000;
        outline: 0;
        border: 0;
        border-right: 2px solid #171616;
    }

    .icon-fake-input {
        width: 5%;
        padding: 2px;
        transition: linear transform 0.2s;
    }

    .icon-fake-input:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .login-button {
        margin: 20px;
        padding: 10px 30px;
        background-color: #171616;
        border: 0;
        border-radius: 10px;
        font-size: 20px;
        transition: linear background-color 0.2s;
    }

    .login-button:hover {
        background-color: #434343;
    }
</style>

<header class="login-header flex-row-space-between space">
    <div class="logo flex-row-center">
        <a href="youtube.com"><h1>THEG</h1></a>
    </div>
</header>

<main class="flex-column-center">

    <h1 class="login-title">LogIn</h1>

    <form class="flex-column-center width-100">
        <div class="login-input-div flex-column-left">
            <label>Usuário</label>
            <input class="login-input" type="text" autocomplete="off" required maxlength="50" />
        </div>

        <div class="login-input-div flex-column-left">
            <label>Senha</label>
            <div class="fake-input flex-row-center">
                <input id="pass-input" class="input-of-fake width-100" type="password" autocomplete="off" required maxlength="50" />
                <img id="show-pass" class="icon-fake-input" src="~/imgs/eye.png"/>
            </div>
        </div>

        <button class="login-button">Login</button>
    </form>
</main>

<script>
    let passButton = document.getElementById('show-pass');
    let passInput = document.getElementById('pass-input');
    let bool = 0;

    passButton.addEventListener('click', () => {
        if (bool == 0) {
            passInput.type = 'text';
            bool = 1;
        } else {
            passInput.type = 'password';
            bool = 0;
        }
    });
</script>