<form>
    <div class="monitor">
        <label for="monitor">Monitor:</label>
        <input class="periferico" type="text" id="monitor" name="Monitor" required>
        <label for="addMonitor">Adicionar outro</label>
        <input type="checkbox">
    </div>
    <div class="teclado">
        <label for="teclado">Teclado:</label>
        <input class="periferico" type="text" id="teclado" name="Teclado" required>
    </div>
    <div class="mouse">
        <label for="mouse">Mouse:</label>
        <input class="periferico" type="text" id="mouse" name="Mouse" required>
    </div>
    <div class="mousepad">
        <label for="mousepad">Mousepad</label>
        <input class="periferico" type="text" id="mousepad" name="Mousepad" required>
    </div>
    <div class="headset">
        <label for="headset">Headset</label>
        <input class="periferico" type="text" id="headset" name="headset">
    </div>
</form>

